* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    text-align: center;
    background-color:#ec791b;
    top: 10px;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#ec791b, #f0f0f0, #026215);
}

.flag {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: antiquewhite;
    overflow: hidden;
    animation: rotate 2s linear infinite;
}

.flag0 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    animation: pulse 2s ease-in-out infinite;
}

.flag0::before,
.flag0::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fff;
    background: url('your-image-url') no-repeat center;
    background-size: cover;
    border-radius: 50%;
    animation: rotate2 3s linear infinite alternate;
}

.flag0::after {
    width: 70px;
    height: 70px;
    animation-delay: 2s;
}

.first {
    width: 200px;
    height: 66.6px;
    background-color: orange;
    background: linear-gradient(50deg, #7c3102, #ff9350);
}

.second {
    width: 200px;
    height: 66.6px;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(50deg, rgb(223, 223, 223), #fff);
}

.third {
    width: 200px;
    height: 66.9px;
    background-color: green;
    background: linear-gradient(50deg, #053303, #50f952);
}

.chakra {
    width: 66.6px;
    height: 66.6px;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 100px;
    background: url(Ashoka\ Chakra.jpg) no-repeat center;
    background-size: cover;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotate2 {
    from {
        transform: translate(-20px) translateY(10px);
    }
    to {
        transform: translate(20px) translateY(-10px);
    }
}